:root {
    --black: #262626;
    --red: #FF2E2E;
    --strong-orange: #FF5232;
    --light-blue: #5BFFB5;
    --white: #f7f7f7;
    --light-gray: #f7f7f7;
    --dark-gray: #404040;
}

h2 {
    margin: 0;
    font-size: 38px;
}

h4 {
    margin: 0;
    font-size: 22px;
}

h5 {
    margin: 0;
    font-size: 16px;
}
