@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    --black: #262626;
    --red: #FF2E2E;
    --strong-orange: #FF5232;
    --light-blue: #5BFFB5;
    --white: #f7f7f7;
}