// Cores
$black: #262626;
$red: #FF2E2E;
$strong-orange: #FF5232;
$light-orange: #ff6a50;
$light-blue: #5BFFB5;
$white: #f7f7f7;
$light-gray: #f7f7f7;
$dark-gray: #404040;

.body {
    background-color: $light-blue;
}

.services-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.services-items {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-text h3 {
    margin: 0;
    font-size: 24px;
}

.services-text h4 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
}

.img-place {
    background-color: $light-orange;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}

img {
    width: 50px;
    height: 50px;
}